ul.pagination {
    margin: 15px 0;

}
.pagination-centered {
    display: flex;
    justify-content: center;
}
.page-item.active .page-link {
    background-color: whitesmoke;
    border-color: #F0F0F0;
    color: #0e0e0e;
}
.logo-text{
    margin-left: 5px;
    font-size: 20px;
    color: var(--success) !important;
}
.mt-300 {
    margin-top: 280px !important;
    margin-left: -91px !important;
}
.m-lag{
    display: flex;
    gap: 40px;
}
.color-lag{

        color: var(--white-color);

        padding: 8px 0;
        font-size: 17px;

}

