ul.pagination {
    margin: 15px 0;

}
.page-item.active .page-link {
    background-color: whitesmoke;
    border-color: #F0F0F0;
    color: #0e0e0e;
}
.logo-text{
    margin-left: 5px;
    font-size: 20px;
    color: var(--success) !important;
}
